<strong>Olá. {{ name }}</strong>
<p>Sua dúvida foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br />
  <strong>Resposta: </strong>{{ answer }} <br />
  <br />
  <small>
    Caso ainda possua alguma dúvida relacionada, responda este email!
  </small>
</p>
